 <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">LABELLA STORE</h1>
                <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam sequi ipsum explicabo
                    tempore odio ab omnis voluptas quas laboriosam saepe aut vero iusto sunt beatae, quod quasi dolorem
                    voluptate sapiente.</p>
            </div>
        </div>
    </header>