@model E_commerce.entity.Product
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="card mb-2">
             <img class="card-img-top" 
                   style="width:240px; height:350px; overflow: hidden"
                   src="~/images/@Model.ImageUrl" alt="">
             <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <bold class="text-danger" style="font-size:20px">
                      @Model.Price   
                    <i class="fas fa-lira-sign" style="font-size:20px"></i>
                    </bold>   
             </div>
             <div>
                  <div class="card-footer text-center">
           <a asp-controller="shop" asp-action="Details" asp-route-url="@Model.Url" class="btn btn-primary btn-sm">Detaylar</a>

           @if(User.Identity.IsAuthenticated)
           {
                  <form asp-controller="Cart" asp-action="AddToCart" style="display: inline" method="POST">
                         <input type="hidden" name="productId" value="@Model.ProductId">
                         <input type="hidden" name="quantity" value="1">
                         <button type="submit" class="btn btn-primary btn-sm">Sepete Ekle</button>
                  </form>
           }                 
               </div>   
   </div>
   </div>

                    