    <div class="card mt-3">
        <div class="card-header">
            <h5>Ürün Ara</h5>
        </div>
        <div class="card-body">
      <form action="/search">
      <div class="form-group">
          <input name="q" type="text" class="form-control" placeholder="Ürün Adını gir">
      </div>     
                <button type="submit" class="btn btn-danger btn-sm btn-block">Arama</button>
            </form>
        </div>        
        </div>    
            
            