@model E_commerce.webui.Model.ProductListViewModel
@{
var popularclass =Model.Product.Count>2?"popular":"";
var products1=Model.Product;
}
@section Categories{
@await Component.InvokeAsync("Categories")
}
@if(Model.Product.Count==0)
{
@await Html.PartialAsync("_noproduct")
}
else
{
<div class="row">
    @foreach (var product in products1)
    {
    <div class="col-md-4">
        @await Html.PartialAsync("_product",product)
    </div>
    }
</div>
}