@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers 
@model List<E_commerce.entity.Category>
<div class="list-group">

    <a href="/products" class="list-group-item list-group-item-action">Tüm Kategoriler</a>
   
     @foreach (var item in Model)
    {
    <a asp-controller="Shop" asp-action="list" asp-route-category="@item.Url" class="list-group-item list-group-item-action @(ViewBag.SelectedCategory == item.Url? "active":"")">@item.Name</a>
   
    } 

</div>