@model ProductViewModel


@{
var popularclass =Model.ürün.Count>2?"popular":"";
var products1=Model.ürün;

}
@section MessageBox{
<div class="alert alert-warning text-center m-0">
    You have a message!
</div>
}
@section Header
{
    <partial name="_header">
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
}

@if(Model.ürün.Count==0)
{
@await Html.PartialAsync("_noproduct")
}
else
{
<div class="row">
    @foreach (var product in products1)
    {
    <div class="col-md-3">
        @await Html.PartialAsync("_product",product)
    </div>
    }
</div>
}
